.noto-tc-serif {
  font-family: "Noto Serif TC" !important;
}

.noto-tc-sans {
  font-family: "Noto Sans TC" !important;
}

.object-cover {
  object-fit: cover;
}

.tao-title {
  padding: 16px 12px;
  @include media-breakpoint-up(md) {
    padding: 24px 32px;
  }
  &-subtitle {
    line-height: 28px;
    @include media-breakpoint-up(md) {
      line-height: 74px;
    }
  }
}
