.swiper {
  img {
    object-fit: cover;
    width: 100%;
    height: 350px;

    @include media-breakpoint-up(md) {
      height: 518px;
    }
  }

  h2 {
    width: 150px;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }

  [class^="swiper-button-"] {
    width: 40px;
    color: #fff;

    &::after {
      font-size: 32px;
    }
  }
}

.cate {
  padding: 18px 0;
  @include media-breakpoint-up(md) {
    padding: 32px 0;
  }
  &-img {
    width: 40px;
    transition: 0.1s ease-out-in;
    &:hover {
      transform: scale(1.1);
    }
    @include media-breakpoint-up(md) {
      width: 80px;
    }
  }
  &-more {
    padding: 22px 0;
    line-height: 1.3333;
    @include media-breakpoint-up(md) {
      padding: 36px 0;
      line-height: 1.25;
    }
    p {
      transition: 0.1s ease-out-in;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.recent {
  .card-header {
    padding-bottom: 8px;
    font-size: 32px;
    line-height: 37px;

    @include media-breakpoint-up(md) {
      padding-bottom: 12px;
      font-size: 48px;
      line-height: 55px;
    }
  }
  .card-body {
    h5 {
      overflow: hidden;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      width: 100%;
      height: 210px;
      @include media-breakpoint-up(md) {
        height: 255px;
      }
    }
  }
  .card-text {
    text-align: justify;
  }
  .card-footer {
    padding: 10px 0;
    @include media-breakpoint-up(md) {
      padding: 12px 0;
    }
    .icon {
      width: 20px;
      @include media-breakpoint-up(md) {
        width: 24px;
      }
      & + a {
        position: relative;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          content: "";
          background-color: #000;
          transition: transform 0.3s ease-in-out;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover {
          color: #000;
          &::before {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    .link-sales {
      position: relative;
      p {
        z-index: 2;
      }
      &::before {
        position: absolute;
        top: -5px;
        left: -10px;
        z-index: 1;
        content: "";
      }
      &:hover {
        color: #000;
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29' fill='none'%3E%3Ccircle cx='14.5' cy='14.5' r='14.5' fill='%23FBFF22' /%3E%3C/svg%3E");
        }
      }
    }
    .material-symbols-outlined {
      font-size: 16px;
    }
  }
}

.online {
  img {
    width: 100%;
    height: 158px;
    object-position: 50% 40%;
    @include media-breakpoint-up(md) {
      width: 100%;
      height: 317px;
      object-position: 50% 40%;
    }
  }
  h3 {
    font-size: 18px;
    line-height: 26px;
    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 46px;
    }
  }
}

.albums {
  .swiper {
    background-color: #000;
  }
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide {
    width: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    color: #fbff22;
    letter-spacing: 3.2px;
    background: #000;
  }
  .h2-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  li {
    h2 {
      font-size: 16px;
      line-height: 23px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
    }
    &:nth-child(2n) {
      transform: rotate(-3deg);
    }
    &:nth-child(3) {
      transform: rotate(3deg);
    }
  }

  .item {
    img {
      height: 274px;
    }
  }
}

.follow {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
  input[type="email"] {
    padding: 16px 24px;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 2px solid #030303;
    &:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: #818181;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
    }
  }
  li {
    font-family: "Noto Sans TC";
    line-height: 2;
    .icon {
      padding: 8px;
      margin-right: 16px;
      color: #fff;
      background-color: $primary;
    }
    &:nth-child(2) {
      margin: 16px 0;
    }
  }
  .tao-link-primary {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: 26px;
    }
  }
}

.proverb {
  p {
    &:nth-child(1) {
      font-size: 18px;
      line-height: 26px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
        line-height: 46px;
      }
    }
    &:nth-child(2) {
      font-size: 14px;
      line-height: 20px;
      @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
